@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', ;
    line-height: 1.6;
    color:#000000;
    overflow-x: hidden;
    
    
    
}
:root{

    --COMPLIMENT-COLOR:#000000;
    --MAIN-COLOR:#800080;
    --BG-COLOR:#000000;
    --P-COLOR:#ffffff;

    --COMMON-WIDTH: calc(90%-30px);

 

    --FS-XL:clamp(1.5rem,8vw,2.5rem);
    --FS-L:clamp(1.5rem,8vw,2rem);
    --FS-S: clamp(0.4rem,3vw,1rem);
    --FS-M:clamp(0.5rem,3vw,1.5rem);
    --FS-XS:clamp(0.4rem,3vw,0.7rem);



}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}




header {
    background: var(--MAIN-COLOR);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: var(--COMMON-WIDTH);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo{
    font-family: "Open Sans", sans-serif;
    color: var(--COMPLIMENT-COLOR);
    font-size: var(--FS-M) ;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.header_ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
}

.nav-links li a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    font-size: var(--FS-S);
}

.nav-links li a:hover{

    background-color: #ffffff;
    color: var(--MAIN-COLOR);
    
}

.map{
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer {
    background-color: #000000;
    color: white;
    padding: 3rem 5%;
    text-align: center;
    font-size: 1.1rem;
    animation: fadeInUp 2s ease;
}

.footer p {
    margin-bottom: 1rem;
}

.footer .footer-links {
    margin-top: 1rem;
}

.footer .footer-links a {
    color: #ffffff;
    margin: 0 1rem;
    font-weight: bold;
}

.footer .footer-links a:hover {
    text-decoration: underline;
}
